*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
}
.Header{
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.Header > img{
  height: 50px;
  width: 170px;
}
.photogrid {
  text-align: center;
}

.photogrid > img{
  width: 480px;
  height: 300px;
}

.context {
 padding: 20px;
}

.text {
  margin-top: 0;
  margin-bottom: 16px;
}
.collection {
  display: flex;
  flex-wrap: nowrap;
  gap: 40px;
  overflow-x: auto;
}
.card{
  width: 330px;
  display: flex;
  flex: 0 0 auto; 
  flex-direction: column;
}
.katie{
  padding: 10px 40px;
  display: block;
}

.photo > img {
  border-radius: 20px;
  width: 100%;
}

/* .status{
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: gainsboro;
  border-radius: 6px;
  text-align: top;
  height: 22px;
  width: 74px;

}
.status > p {
  position: relative;
  bottom: 17px;
  left: 4px;
  color: rgb(96, 94, 94);
} */

.rating {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* width: 130px;
  height: 35px; */
}

.rating > img {
  height: 20px;
  width: 20px;
}

.rating > p {
  padding-top: 3px;
  color: rgb(177, 175, 175);
}

.rating > #bold {
  font-weight: 402;
  color: gray;
}

.title {
  margin: 0;
  padding-left: 4px;
}
.review {
  margin: 0;
  padding: 0;
  height: 25px;
}

/* .image-content{
  line-height: 1;
} */

.price {
  display: flex;
  height: 20px;
  padding-bottom: 20px;
  line-height: 0;
  margin-top: -12px;
  padding-left: 4px;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}